* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  gap: 24px;
  padding: 20px;
  background-color: #111;
}

.navbar a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  opacity: 0.7;
  color: #4da3ff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  gap: 16px;
}

.hero img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

body {
    background-color: #0f0f0f;
    color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 16px;
}

a {
    color: #f43535;
}